{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'b2charm/css/detail_style.css' %}">
    <title>{{title}}</title>
</head>

<body>
    <center><h3>${{ latex }}$</h3></center>
    <center><img src="{% static 'b2charm/images/'|add:image_url %}"></center><br>
    <table border="1" id="measurement">
        <tr>
            <th>Experiment</th>
            <th>Measurement [10<sup>{{ unit }}</sup>]</th>
            <th>$\Delta\chi^2$</th>
            <th>Reference</th>
            <th>Comments</th>
        </tr>

        <tr>
            <td><b>Average</b></td>
            <td><b>{{ avg }}</b></td>
            <td>{{ chi2_avg }}</td>
            <td>{{ p }} (ndf={{ ndf_avg }})</td>
            <td></td>
        </tr>
        {% if pdg_value %}
        <tr>
            <td><i>PDG</i></td>
            <td><i>{{ pdg_value }}</i></td>
            <td></td>
            <td><a href="{{ pdg_link }}" target="_blank">pdgLive</a></td>
            <td></td>
        </tr>
        {% endif %}

        {% for measurement in measurement_list %}
        <tr>
            <td>{{ measurement.experiment }}</td>
            <td>{{ measurement.measurement }}</td>
            <td>{{ measurement.chi2 }}</td>
            <td><a href="{{ measurement.link }}" target="_blank">{{ measurement.text.0 }}<b>{{ measurement.text.1 }}</b>{{ measurement.text.2 }}</a></td>
            {% if measurement.comments %}
            <td>
                {% for comment in measurement.comments %}
                <p>{{ comment }}</p>
                {% endfor %}
            </td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
        {% for measurement in measurement_red_list %}
        <tr>
            <td style="color:red">{{ measurement.experiment }}</td>
            <td style="color:red">{{ measurement.measurement }}</td>
            <td>{{ measurement.chi2 }}</td>
            <td><a href="{{ measurement.link }}" target="_blank">{{ measurement.text.0 }}<b>{{ measurement.text.1 }}</b>{{ measurement.text.2 }}</a></td>
            {% if measurement.comments %}
            <td>
                {% for comment in measurement.comments %}
                <p>{{ comment }}</p>
                {% endfor %}
            </td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table><br>
    <h3>Further parameters used in the fit and their correlation with the average</h3>
    <table border="1" id="correlation">
        <tr>
            <th>Source</th>
            <th>Parameter</th>
            <th>Correlation [%]</th>
            <th>Value</th>
            <th>$\Delta\chi^2$</th>
        </tr>
        {% for correlation in correlation_list_fit %}
        <tr>
        <td>{{ correlation.type }}</td>
        <td><a href="/index/detail/{{ correlation.link }}">${{ correlation.latex }}$</a></td>
        <td></td>
        <td>{{ correlation.value }}</td>
        <td></td>
        </tr>
        {% endfor %}
        {% for correlation in correlation_list_external %}
        <tr>
        <td>{{ correlation.type }}</td>
        <td>${{ correlation.latex }}$</td>
        <td>{{ correlation.correlation }}</td>
        <td>{{ correlation.value }}</td>
        <td>{{ correlation.chi2 }}</td>
        </tr>
        {% endfor %}
        {% for correlation in correlation_list_n %}
        <tr>
        <td>{{ correlation.type }}</td>
        <td>{{ correlation.latex }}</td>
        <td>{{ correlation.correlation }}</td>
        <td>{{ correlation.value }}</td>
        <td>{{ correlation.chi2 }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>MathJax = { tex: { inlineMath: [['$', '$']] } };</script>